
/* ----------grid div des éléments du formuaire de modifications membre */

.actions-content{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.classForm{
    display: grid;
    grid-template-columns: auto auto;
    gap:15px;
}

.actions-content button{
    width: 320px;
    background: var(--primary-dark-color);
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 14px;
}
.actions-content button:hover{
    background: var(--primary-dark-hover-color);
}
.prenomInput{
    width: 140px;
}
.nomInput{
    width: 150px;
}
.emailInput{
    width: 320px;
    grid-column-start: 1;
    grid-column-end: 5;
}

.adresseInput{
    width: 320px;
    grid-column-start: 1;
    grid-column-end: 5;
}
.ageInput{
    width: 140px;
}
.telephoneInput{
    width: 168px;
}

