/* ----Google font import  --- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*-------Carte du membre*/
.compte-container{
    color: var(--text-color);
    background: var(--sidebar-color);
    display: block;
}
.compte-container-header{
    display: flexbox;
    justify-content: center;
}

/*---------boutons de la carte profile, acions, payments*/
.compte-container-body-btn{
    display: flex;
    justify-content: center;
    gap: 10px;  
    margin-inline: auto;
    margin-top: 30px;
    font-size: 14px;
}
.profile-btn{ 
    background: var(--secondary-color);
    padding: 7px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 10px;
    transition: var(--tran-03);
}
.profile-btn:hover{
    background: var(--text-color);
    color: var(--toggle-color);
}
.payments-btn{ 
    background: var(--secondary-color);
    padding: 7px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 10px;
    transition: var(--tran-03);
}
.payments-btn:hover{
    background: var(--text-color);
    color: var(--toggle-color);
}
.actions-btn{ 
    background: var(--secondary-color);
    padding: 7px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 10px;
    transition: var(--tran-03);
}
.actions-btn:hover{
    background: var(--text-color);
    color: var(--toggle-color);
}
.profile-btn:focus{
    background: var(--text-color);
    padding: 7px;
    text-decoration: none;
    color: var(--sidebar-color);
    border-radius: 10px;
}
.actions-btn:focus{
    background: var(--text-color);
    padding: 7px;
    text-decoration: none;
    color: var(--sidebar-color);
    border-radius: 10px;
}
.payments-btn:focus{
    background: var(--text-color);
    padding: 7px;
    text-decoration: none;
    color: var(--sidebar-color);
    border-radius: 10px;
}
.compte-container-body{
    display: block;
    justify-content: center;
    padding: 20px;
}
/*-----------Ici on switch lec component--*/
.compte-container-body{
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

/*-----------Détail du compte--*/

.profile-content {
    margin-top: -30px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 14px;
}
.profile-content table{
    max-width: 100%;
    gap: 15px;
    min-height: 40vh;
    border-spacing: 10px;
}
.profile-content table tr td{
    padding-right: 20px;
}
#td-payment-nok{
    background: rgba(242, 38, 19, 0.9);
    color: white;
    font-size: 15px;
    font-weight: 500;
    width: 80px;
    padding:5px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
#td-payment{
    background: rgba(63, 195, 128, 0.9);
    color: white;
    font-size: 15px;
    font-weight: 500;
    width: 80px;
    padding:5px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.actions-content{
    display: grid;
    grid-template-columns: auto auto;
}
.btn-profile{
    margin: 15px;
}
.btn-profile button{
    width: 90px;
    font-size: 14px;
}

.spiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-device-width: 450px) {  
  

 }