
.login-container{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    column-gap: 5rem;
}

.login-container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
}

.login-container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

.login-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
}

.login-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 250px;
    outline: none;
}

.login-form-container{
    max-width: 50%;
    transition: all 0.6s ease-in-out;
}


.login-services-container{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    max-width: 50%;
}
.login-services-container span{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.login-sous-service-div span {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.login-service-presente-container div{
    margin-left: 30px;
    margin-top: 15px;
}
.login-service-presente-container p{
    margin-left: 40px;
    margin-top: 10px;
}
.login-services-container .login-presentation-div p{
    margin-top: 15px;
    margin-left: 30px;
}
.login-services-container .login-enprofter-div p{
    margin-top: 15px;
    margin-left: 30px;
}


@media screen and (max-device-width: 450px) {  
    .login-container{
        flex-direction: column;
        align-items: top;
        min-height: 100vh;
        font-size: 18px;
        gap: 0rem;
    }
    .login-form-container{
        margin-top: 50px;
        max-width: 80%;
    }
    .login-container form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100vw;
        min-height: 0vh;
    }
    .login-services-container{
        max-width: 80%;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .login-container input{
        width: 80vw;
        font-size: 18px;
    }
    .login-container button{
        width: 80vw;
        font-size: 16px;
    }

    .login-form-container a{
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}