.membre-wrapper{
    min-height:100vh;
    max-width: 100%;
    margin-right: 40px;
}

.table-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 280px;
    min-height:100vh;
    max-width: 80%;
}
.btn{
    background: var(--primary-dark-color);
    color: white;
}
.btn:hover{
       background: var(--primary-dark-hover-color);
}
.sorting-option{
    display: flex;
    justify-content: right;
    margin-left: 20px;
    align-items: center;
}
.sorting-option span{
    color: var(--text-color);
    font-size: 18px;
    margin-right: 20px;
}
.sorting-list{
    width: 150px;
    background: var(--sidebar-color);
    height: 40px;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 10px;
    border: 1px solid var(--toggle-color);
    color: var(--text-color);
}

/*------Add Member Form-----*/


.compte-container{  
    background: var(--sidebar-color);
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form-container form{
    background: var(--sidebar-color);
}
.form-container input{
    color: var(--text-color);
    background-color: transparent;
    
}
.nomInput{
    margin-left: 10px;
}
.form-container input:focus{
    color: var(--text-color);
    background-color: transparent;
}
.form-container input::placeholder {
    color: var(--text-color);
  }


@media screen and (max-device-width: 450px) {  
    .membre-wrapper{
        margin-top: 5px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .search-container{

    }
    .membreCounter-container{
        margin-bottom: 20px;
    }
    .search-input-container{
        margin-left: 0px;
    }
    .table-header{
        margin-left: 20px;
        max-width: 90%;
        gap: 1rem;
        overflow: scroll;

        margin-top: 30px;
    }
    .add-btn button{
        margin-left:0px;
        justify-content: center;
        width: 250px;
        font-size: 18px;
    }
    .sorting-option{
        display: block;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 0px;

        select{
            font-size: 20px;
            max-width: 100%; 
            text-overflow: ellipsis;
        }
    }
    
  }