
.wrapperS{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: auto;
    min-height: 100vh;
    margin-left: 250px;
}

/* Style du div et bouton pour ajouter un produit */

.sup-div{
    display: flex;
    justify-content: right; 
    margin-right: 150px;
    margin-top: 40px;
}
.btn{
    background: var(--primary-dark-color);
    color: white;
}
.btn:hover{
    background: var(--primary-dark-hover-color);
}  

/*====================*/

.container-item{    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container-products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    margin-top: 0px;
    height: 100px;
    left: 0;
}
.allproduct-btn{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}
.allproduct-btn:hover{
    text-decoration: underline;
}


.container-products ul li{
    display: inline-flex;
    list-style: none;
    margin-right: 30px;
}

.protein{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.prot{
    width: 50px;
    height: 70px;
}
.creatine{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.vitamine{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.gainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
    
.gainer:hover{
    color:white;
    background: var(--primary-color);
}
.protein:hover{
    color:white;
    background: var(--primary-color);
}
.vitamine:hover{
    color:white;
    background: var(--primary-color);
}
.creatine:hover{
    color:white;
    background: var(--primary-color);
}

/* Tableau qui affiche les produits */
.products-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    transition: 1s;
    margin-top: 50px;
    margin-inline: auto;
}


/* Ici cest la partie qui concerne la carte de validation dune vente */
.form-container{
    display: flex;
    justify-content: center;
}
.form-container .btn:hover{
    background: var(--primary-color);
}
.form-container .btn {
    border:0;
    background: var(--primary-dark-color);
    width: 100%;
}



@media screen and (max-device-width: 450px) {  
    .wrapperS{
        margin-left: 20px;
        overflow-x: hidden;
    }
    .sup-div{
        justify-content: center; 
        margin-right: 0px;
        margin-top: 80px;
    }
    .sup-div button{
        background: var(--primary-dark-color);
        color: white;
        width: 300px;
    }

    .container-item{    
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }
    .container-products{
        display: flex;
        justify-content: center;
        height: 100px;
        gap: 0;
    }
    .protein, .gainer, .creatine, .vitamine{
        width: 80vw;
        margin-right: 30px;
    }
    .container-products ul li{
        margin-bottom: 20px;
    }

    .products-table{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 90vw;
        margin-top: 400px;
        margin-right: 20px;
    }
    .show-menu{
        margin-left: 20px;
    }
}

