

/*------User card -------------*/
.usercard-wrapper{
    max-width: 95vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.usercard-list{
    display: flex;    
    justify-content: start;
    flex-wrap: wrap;
    position:relative;
    margin-top: 30px;
    max-width: 80%;
    min-height: 100vh;
    left: 280px;
    gap:1rem;
}



.usercard{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 170px;
    background: var(--sidebar-color);
    border-radius: 10px;
    padding-top: 10px;
    transition: 0.3s linear;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 8px 5px 29px 5px rgba(0,0,0,0);   
}
.usercard:hover{    
    cursor: pointer;
    background: var(--primary-color);
    
    .card-subtitle{
        color: white;
    }
    .card-title{
        color: white;
    }
}
.card-title{
    color: var(--text-color);
    font-size: 13px;
    font-weight: 500;
}
.card-subtitle{
    color: var(--text-color);
    font-size: 13px;
    font-weight: 400;
}

.sidebar.hide ~ .usercard-list{
    left: 165px;
}
.list-iems-card{
    list-style: none;
    display: flexbox;
    justify-content: center;
    margin-left: -13px;
}

.payment-state-ok{
    color: green;
    margin-left: 32px;
}
.payment-state-nok{
    color: red;
    margin-left: 32px;
    top: -20px;
}

.search-container{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100vw;
    margin-left: 280px;
}
.membreCounter-container{
    margin-left:30px;
}
.membreCounter-text{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -20px;
}
.search-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input-container input{
    max-width: 300px;
    height: 40px;
    padding: 15px;
    padding-left: 40px;
    border: 0;
    margin-left: 20px;
    background: var(--secondary-color);
    border-radius: 10px;
    color: var(--text-color);
    outline: none;
    transition: var(--tran-02);
}
.search-input-container i{
    margin-right: -50px;
    margin-left: 50px;
    position: relative;
}

@media screen and (max-device-width: 450px) {  

    .search-container{
        margin: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        max-width: 100vw;
        margin-left: 0px;
        margin-top: 32px;
    }
    .membreCounter-container{
        margin-inline: auto;
    }

    .usercard-list{
        max-width: 100%;
        left: 10px;
        
    }
    


       
  }  