.app{
    
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    min-height: auto;
    background: var(--body-color);          
    transition: var(--tran-03);
}
.app.dark{
    --body-color: #18191A;    
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --secondary-color: #3A3B3C;
    --third-color: #18191A;
    --toggle-color: #FFF;
    --text-color: #CCC;
}